<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref='/shop'></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content>

  <div class="order">
    ORDER
  </div>

  <ion-list class="ion-margin ion-padding">
    <ion-item *ngFor="let item of cart.cart">
      <p>{{item.name}}</p>
      <p slot="end">GHc {{item.price}}</p>
    </ion-item>
  </ion-list>


  <ion-item class="ion-margin ion-padding" *ngIf='cart.cart.length > 0'> 
    <p>GHc</p>
    <p slot="end">{{ cart.cost }}</p>
  </ion-item>

  <ion-button class="ion-margin ion-padding" expand="block" *ngIf='cart.cart.length > 0'>Check OUT</ion-button>
  <ion-button class="ion-margin ion-padding" expand="block" *ngIf='cart.cart.length > 0' color="danger" (click)='cart.clearcart()'>Clear Cart</ion-button>

  <div class="order-something" *ngIf='cart.cart.length == 0'>
    Empty Cart
  </div>

</ion-content>
