<ion-header color="primary">
  <ion-toolbar>
    <ion-title>PayBox</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="close()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-margin ion-padding">
  <div class="header ion-margin">
    <img class="ion-margin" style="width: 50%;" src="../../assets/images/paybox.png" alt="">
  </div>

  <form>
    <ion-list>
      <ion-item class="ion-margin-top">
        <ion-label position="stacked">Amount</ion-label>
        <ion-input readonly [ngModelOptions]="{standalone: true}" [(ngModel)]="cart.cost"></ion-input>
      </ion-item>

      <ion-item class="ion-margin-top">
        <ion-label position="stacked">Currency</ion-label>
        <ion-input readonly value="GHS"></ion-input>
      </ion-item>

      <ion-item class="ion-margin-top">
        <ion-label position="stacked">Mode of Payment</ion-label>
        <ion-select [ngModelOptions]="{standalone: true}" [(ngModel)]='mode' interface="popover">
          <ion-select-option value="Test">Test</ion-select-option>
          <ion-select-option value="Cash">Cash</ion-select-option>
          <ion-select-option value="Mobile Money">Mobile Money</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item class="ion-margin-top">
        <ion-label position="stacked">Mobile Network</ion-label>
        <ion-select [ngModelOptions]="{standalone: true}" [(ngModel)]='mobile_network' interface="popover">
          <ion-select-option value="AirtelTigo">AirtelTigo</ion-select-option>
          <ion-select-option value="Vodafone">Vodafone</ion-select-option>
          <ion-select-option value="Mtn">Mtn</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item class="ion-margin-top">
        <ion-label position="stacked">Mobile Number</ion-label>
        <ion-input [ngModelOptions]="{standalone: true}" [(ngModel)]='mobile_number' placeholder="+233 000 000 000"></ion-input>
      </ion-item>
    </ion-list>
    
    <ion-button class="ion-padding" (click)='pay()' expand="block">Pay</ion-button>
  </form>


</ion-content>
